/* Ripple Effect */
.mhd-ripple {
    position: relative;
    overflow: hidden;
}

    .mhd-ripple::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.15);
        border-radius: inherit;
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.35s ease-out, opacity 0.55s ease-out;
    }

    .mhd-ripple:active::after {
        transform: scale(3);
        opacity: 1;
        transition: 0s;
    }


.mhd-card-inner {
    pointer-events: none; /* حتى لا يوقف ripple */
}

div:hover > .mhd-card-inner {
    transform: scale(1.01);
    pointer-events: none;
}
