.task, .task input {
    background-color: var(--net-task);
    margin-bottom: 1px;
    color: black;
}

.subTask, .subTask input {
    background-color: var(--net-subtask);
    margin-bottom: 1px;
    color: black;
}

.csv-thead-sticky {
    top: -1px;
    box-shadow: 0 1px 0 rgb(203 213 225 / 1);
}

.dark .csv-thead-sticky {
    box-shadow: 0 1px 0 rgb(51 65 85 / 1);
}
